body {
    padding: 0;
    margin: 0
}

.container {
    display: flex;
    flex-direction: row;
    height:100vh
}

.visualization-view {
    background-color: #38342F;
    flex: 3;
}

#personList {
    height: 40%;
    overflow-y: scroll;
    white-space: nowrap;
}

.sidebar {
    background-color:azure;
    flex: 1;
}

.sidebar {
    flex-direction: column;
    display: flex;
}

.sidebar .top {
    flex: 1;
    border-bottom: 6px #C4C4C4 solid;
}

.sidebar .bot {
    flex: 1;
}

.checkbox {
    display: block;
    align-items: center;
}
