@use '../shared.scss';

.my-dataviz {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.visualization-area {
    flex: 5;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-area {
    flex: 1;
    width: 100%;
}

.axis-x, .axis-y {
    color: white;
}

.axis-y text {
    font-size: 12px;
    color: white;
}

.axis-x text {
    font-size: 10px;
    color: white;
}

.grid {
    color: gray;
}

.tooltip {
    position: fixed;
    width: 250px;
    height: 100px;
    border-radius: 10px;
    background: white;
}

.tooltip p {
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
}

.slider-title {
    text-align: center;
    color: white;
    font-size: 1.25rem;
}

.fallback-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.fallback-text {
    color: white;
}