#plot {
    justify-content: space-around;
}

.MissingData {
    padding-left: 20%;
    display: inline;

}

#MissingPersons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.axis {
    color:white;
    font-size:10px;
}

.Datepicker {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.GraphInfo {
    padding-top: 2rem;
    align-content: center;
    justify-content: space-around;
}