@use '../shared.scss';

.checkbox {
    display: block;
    align-items: center;
}

.attribute-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.attribute-title {
    padding-right: 10px;
}