#spiderRoot {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#spider_viz {
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#bottom-area-spider {
    display: flex;
    flex-direction: row;
    flex: 1;
}